.idea/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.conda/
.DS_Store
build/
dist/
*.egg-info/
*.swp
*.swo
*.local
.env

# Node
node_modules/
frontend/dist/

# Export files
*.txt
!requirements.txt
